body {
    font-family: 'Montserrat';
    text-align: center;
}
/* navbar style */

.navbar {
    padding-bottom: 0 0 4.5rem;
}

.navbar-brand {
    font-family:'ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    font-size: 1.2rem;
    font-family: 'Montserrat-light';
}

/* tittle section */

#title {
 
    color: white;
    text-align: left;
}

.container-fluid {
    padding: 3% 15% 7%;
   
}

.tittle-img {
    width:20%;
    transform: rotate(25deg);
       right:20%;
       position: absolute;
}

h1,h2,h3 {
    font-family: "Montserrat";
}

/* headings */
.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.big-heading {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;    
    color: #fff;
}

/* section background color */
.white-color{
    background-color: #fff;
}

.colored-section{
    background-color: #ff4c68;
}


/* dow nload button */
.download-button {
    margin: 5% 3% 5% 0;
}

.col-lg-4 {
    position: relative;
}

h3 {
    /* font-family: "montserrat-bold"; */
    font-size: 1.5rem;

}

p {
    font-family: "ubuntu";
    color: #8f8f8f;

}

/* features styling  */

#features {
   
    position: relative;
    z-index: 1;
    
}

.feature-tittle {
    font-size: 1.5rem;
}

.feature-box {
    padding: 4.5%;

}

.icon {
    margin-bottom: 1rem;
    color: #ef8172;

}
.carousel-item{
    background-color: #ef8172;
}

.icon:hover {
    color: #ff4c68
}


/* testimonial styling */


.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text {
    color: #fff;
    font-size: 3rem;
    line-height: 1.5;
}

em {
    color: #fff;
}

/* press-section */

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing section */

#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;

}

@media(max-width:1028px) {
    #title {
        text-align: center;
    }

    .tittle-img {
        width: 30%;
        position: static;
        transform: rotate(0);
    }

}

/* caal to action */

#cta {
    color: #fff;   
}


/* footer-section */
